.auth-form-wrapper {
  position: absolute;
  top: 0;
  left: -80px;
  right: -80px;
  bottom: 0;
  background-color: rgb(0, 0, 0, 70%);
  z-index: 10;
}

.auth-form {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64px 40px;
  border-radius: 24px;
  background-color: var(--auth-bg);
  z-index: 14;
  transform: translate(-50%, -50%);
}

.auth-form__logo {
  margin-bottom: 40px;
  display: block;
  text-align: center;
}

.auth-form__logo svg {
  width: 180px;
  height: 24px;
}

.auth-form__title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: var(--black-color);
}

.auth-form__info {
  text-align: center;
}

.auth-form__btn-info {
  outline: none;
  font-size: 18px;
  font-weight: 700;
  color: var(--black-color);
}

.auth-form__close {
  position: absolute;
  top: 0;
  right: -56px;
  padding: 7px;
  background-color: var(--light-color);
  border-radius: 24px;
}

.auth-form__close svg {
  display: block;
}
