.main-page-top {
  padding-top: 40px;
  padding-bottom: 120px;
}

.main-page-top__title {
  margin: 0;
  margin-bottom: 64px;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}

.main-page-top__film-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: var(--gap);
  row-gap: 64px;
  --offsets: 4
}

.film-list__item {
  position: relative;
  width: calc(100% / (var(--offsets) + 1) - (var(--gap) * (var(--offsets)) / (var(--offsets) + 1)));
  min-height: 336px;
  border-radius: 16px;
  border: 1px solid var(--border-card);
  box-shadow: 0px 0px 80px 0px var(--card-shadow);
  cursor: pointer;
}

.film-list__link-to {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.film-list__position {
  position: absolute;
  padding: 8px 24px;
  top: -12px;
  left: -12px;
  border-radius: 50px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  background-color: var(--light-color);
  color: var(--btn-color);
}
